@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import 'tailwindcss';

.inter {
    font-family: Inter, sans-serif;
}

.num-style {
    font-variant-numeric: tabular-nums;
}

.ssf {
    font-family: "Source Serif 4", serif;
}
.jbm {
    font-family: "JetBrains Mono", monospace;
}

.debug {
    border: 1px solid red;
}

.dalt {
    border: 1px solid blue;
}